<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/index.css" />
	<title>A1 Agri Global Pvt Limited</title>
</head>
<body>
	<div class="navbar">
		<a href='/billRcptFrm'>Bill Reciept</a>
		<a href='/paymentApprFrm'>Payment Approval</a>
		<a href='/paymentRfrFrm'>Payment Reference</a>
		<a href='/reqForApprFrm'>Req for Approval</a>
	</div>
	<div class="container">