<div class="navbar">
		<a href='/view/billRcptFrm'>Bill Reciept</a>
		<a href='/view/paymentApprFrm'>Payment Approval</a>
		<a href='/view/paymentRfrFrm'>Payment Reference</a>
		<a href='/view/reqForApprFrm'>Req for Approval</a>
</div>