<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles/index.css" />
	<title>A1 Agri Pvt Ltd</title>
</head>
<body>
	<div style="margin-top:2em; text-align: center;"><h1>A1 Agri Pvt. Ltd.<h1></div>
	<div class="auth">
		<a href="/auth/login_master"><button>Register User</button></a>
		<a href="/auth/login"><button>Login</button></a>
	</div>
</body>
</html>