<%-include('partials/header')%>
	<div>
		<table class="view">
			<tr>
				<th>S.No.</th>
				<% for(let prop in dataArray[0]){ %>
					<th><%=prop%></th>
				<% } %>
			</tr>
				<% dataArray.forEach((obj, ind) => { %>
					<tr>
						<td><%= ind +1 %></td>
						<% for(let prop in obj){ %>
							<td><%= obj[prop] %></td>
						<%}%>
					</tr>
				<% })%>
		</table>
	</div>

	<div class="footer"><a href="/selectmode"><button>Back</button></a></div>

</body>
</html>