<%-include('partials/header') %>

<form>
	<input type="number" name="billRcvId" placeholder="Bill Recieving Id" />
	<input type="number" name="reqForApprBasic" placeholder="Request for approval basic" />
	<input type="number" name="reqForApprGST" placeholder="Request for approval GST" />
	<input name="remarks" placeholder="Remarks" />
	<button type="submit">Submit</button>
</form>

<%-include('partials/footer') %>